<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Título que vai aparecer no card do link -->
<meta property="og:title" content="Farmacia D. Farmaceutica">

    <!-- Pequena descrição que aparece abaixo do título -->
<meta property="og:description" content="Venha conhecer o nossos produtos!">

    <!-- Link direto da imagem (Atenção ao Flask aqui!) -->
<meta property="og:image" content="{{ url_for('static', filename='img/caixa.png', _external=True) }}">

    <!-- Tipo de conteúdo e URL da página -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://drgustavosa.onrender.com/">
<link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/png">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<title>T.G. 15 - Tirzepatida</title>
</head>
<body>
<!-- Header Fixo -->
  <header class="header">
    <div class="brand">
    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
    
    </div>
  </header>
<div class="container">

<div class="product-card">

<div class="product-image">
<!-- <img src="./static/img/ampola_15ml.png" alt="T.G.15 Tirzepatida"> -->
</div>


<!-- <div class="product-image"> 
<img src="./static/img/caixa.png" alt="T.G.15 Tirzepatida">
</div>
-->

<div class="product-info">
<div class="product-image">
<img style="border-radius: 5px;" src="{{ url_for('static', filename='img/caixa.png') }}" alt="T.G.15 Tirzepatida">
</div>
<span class="badge">OFERTA ESPECIAL</span>
<span class="badge">Valído atê final da COPA</span>

<h1>T.G. 15 - Tirzepatida 15mg/0,5ml</h1>
<h1>4. ampolas + caneta estojo</h1>

<p class="subtitle">
Medicamento injetável utilizado sob orientação médica para controle glicêmico e gerenciamento de peso em pacientes selecionados.
</p>

<div class="price-box">
<div class="old-price">De R$ 1.370,79 por</div>
<div style="font-size: 16px;" class="new-price">R$ 800,00 em</div>
<div class="new-price">12x R$ 66,66 no cartão (sem juros)</div>
<div class="discount">Economize R$ 570,87</div>
</div>
<div class="alert">
<strong style="color:red;">⚠️ ❌️ Atenção:</strong>
Não descontamos nenhum pagamento de sua conta após agendamento da compra,
pois  analisamos sua receita medica com dados.
O valor não será creditado de emediato pelo banco como normas e regras ANVISA!

</div>
<div class="info-grid">

<div class="info-box">
<strong>Concentração</strong>
15mg / 0,5ml
</div>

<div class="info-box">
<strong>Administração</strong>
Subcutânea
</div>

<div class="info-box">
<strong>Categoria</strong>
Medicamento Injetável
</div>

<div class="info-box">
<strong>Venda</strong>
Sob Prescrição Médica
</div>

</div>

<div class="section">
<h2>Descrição do Produto</h2>

<p>
A Tirzepatida é um medicamento utilizado mediante avaliação médica para auxiliar no controle metabólico. Sua utilização deve seguir rigorosamente a orientação de um profissional habilitado.
</p>
</div>

<div class="section">
<h2>Possíveis Benefícios</h2>

<ul>
<li>Auxílio no controle do apetite.</li>
<li>Suporte ao gerenciamento de peso.</li>
<li>Contribuição para o controle glicêmico.</li>
<li>Aplicação prática e de fácil utilização.</li>
</ul>
</div>

<div class="section">
<h2>Informações Importantes</h2>

<ul>
<li>Uso exclusivamente sob orientação médica.</li>
<li>Não exceder a dose prescrita.</li>
<li>Manter refrigerado conforme orientação do fabricante.</li>
<li>Não utilizar em caso de alergia aos componentes da fórmula.</li>
<li>Mantenha fora do alcance de crianças.</li>
</ul>
</div>

<div class="alert">
<strong> ⚠️ Atenção:</strong>
Este medicamento exige avaliação e acompanhamento médico. Não utilize por conta própria. Em caso de dúvidas, procure um profissional de saúde qualificado.
</div>

<div class="alert">
<strong>⚠️ Aviso:</strong>
Alerta Importante sobre Procedência <br>A Anvisa proibiu a importação de medicamentos à base de tirzepatida fabricados no Paraguai (como as marcas "T.G." e "Tirzed") devido à falta de registro sanitário e riscos à saúde. O uso de produtos sem rastreabilidade ou fora da cadeia de frio adequada pode causar sérios efeitos colaterais e intoxicações.
</div>
<div class="btns">
<a href="/api" class="btn btn-primary">Tenho Receita COMPRAR AGORA</a>
<a href="/receitas" class="btn btn-secondary">Obter Receita online Agora <br>
não e cobrado nenhuma taxa
</a>
</div>

</div>

</div>

</div>

</body>
</html>



<!-- <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> -->
<!-- <html> -->
<!-- <head> -->
<!-- <title>It works! Apache httpd</title> -->
<!-- </head> -->
<!-- <body> -->
<!-- <p>It works!</p> -->
<!-- </body> -->
<!-- </html> -->
